---
layout: default
---

<div class='mainitem' id='about'>
	<div class='hidden-md hidden-lg mainheader'>About</div>
	<p>
		Hi! I am currently building my company doing large scale data quality research for advancing model capabilities. We are currently in stealth mode and will share more soon.
	</p>
	<p>
		Before that, most recently I was at <a href='https://parallel.ai' target='_blank'>Parallel</a> (very early 10 employees), where I built and released our SOTA web <a href='https://parallel.ai/blog/deep-research' target='_blank'>deep-research agents</a> and spent a lot of time understanding agentic architecture and building datasets and evals.
		Prior to that, I was doing my PhD at MIT Media Lab with <a href='https://www.media.mit.edu/people/raskar/overview/' target='_blank'>Prof Ramesh Raskar</a> on Deep Learning and Foundational Model research where I published a bunch of research in understanding models and data distributions for model training with my amazing collaborators and labmates.
		During my PhD, I had the pleasure to intern at Apple MLR, doing cool research with amazing researchers <a href='https://scholar.google.com/citations?user=kjMNMLkAAAAJ&hl=en'>Navdeep Jaitly</a> and <a href='https://scholar.google.com/citations?user=Sv2TGqsAAAAJ&hl=en'>Josh Susskind</a> and <a href='https://bengio.abracadoudou.com/'>Samy Bengio</a> where I mostly worked on text-image diffusion models.
		I decided to drop out of my PhD after a couple years, which was not an easy decision but I realized I wanted to do more industry related product driven research.
	</p>
	<p>
		Prior to MIT, I did my bachelors from India in Mathematics and Computing from IIT Delhi. During my undergrad years, I had been fortunate to pursue research with amazing people and industry labs including Adobe MDSR team, Amazon IML team and <a href='https://www.kcl.ac.uk/people/peter-jossenProf'>Peter Jossen</a> at ETH Zurich.
	<p>
		Fun fact: I love travelling and spent ~4 months during my undergrad exchange semester backpacking across Europe, sleeping in trains and living off of bread and neutella :P
    </p>
</div>


<div class='mainitem' id='news'>
	<div class='mainheader'>News</div>

	{% for newsitem in site.data.news %}
		<div class='row newsitem'>
			<div class='col-md-3 col-lg-2 newsdate'>{{ newsitem.date }}</div>
			<div class='col-md-9 col-lg-10 newscontent'>{{ newsitem.content }}</div>
		</div>
	{% endfor %}

</div>


<div class='mainitem' id='publications'> 

	<div class='mainheader'>Publications</div>

	<!--
    {% assign sorted_pubs = site.data.publications | sort: 'date' | reverse %}
    -->

	{% for pub in site.data.publications %}

		<div class='row pub'>

			{% capture mainlink %}
				{% assign firstlink = pub.links[0] %}
				{% if firstlink.target %}
					{{ firstlink.target }}
				{% elsif firstlink.type == 'pdf' %}
					pdf/{{ pub.id }}.pdf
				{% else %}
					/
				{% endif %}
			{% endcapture %}

			<div class='col-lg-3 col-md-4 col-xs-4 pubimagesection'>
				<a target='_blank' href='{{ mainlink }}'><img class='pubimage img img-responsive' src='img/pubthumbs/{{ pub.id }}.png' width='200'/></a>
			</div>

			<div class='col-lg-9 col-md-8 col-xs-8 pubtextsection'>

				<div class='pubtitle'>
					<a target='_blank' href='{{ mainlink }}'>{{ pub.title }}</a>
				</div>

				<div class='pubauthors'>
					{% for author in pub.authors %}
                                        <!-- {% if forloop.last %}{% unless forloop.first %} and {% endunless %}{% endif %} -->
						{% if site.data.people[author] %}
							<a class='pubauthor' target='_blank' href='{{ site.data.people[author] }}'>
								{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
							</a>
						{% else %}
							{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
						{% endif %}
					{% endfor %}
				</div>

				<div class='pubnotes'>{{ pub.notes }}</div>

                            {% if pub.date=="" %}
                                <div class='pubvenue', style="font-family:Arial Narrow">{{ pub.venue }}</div>
                            {% else %}
                                <div class='pubvenue', style="font-family:Arial Narrow">{{ pub.venue }}, {{pub.date}}</div>
                            {% endif %}

				{% for link in pub.links %}
					{% if forloop.first == false %} {% endif %}

					{% capture lname %}
						{% if link.type == 'link' %}
							{{ link.name }}
						{% else %}
							{{ link.type }}
						{% endif %}
					{% endcapture %}

					{% capture ltarget %}
						{% if link.type == 'link' %}
							{{ link.target }}
						{% else %}
							{{ link.type }}/{% if link.target %}{{ link.target }}{% else %}{{ pub.id }}.{{ site.data.extensions[link.type] }}{% endif %}
						{% endif %}
					{% endcapture %}

					<a class='publink' target='_blank' href='{{ ltarget }}'>[{{ lname }}]</a>
				{% endfor %}

				{% if pub.award %}
					<div><span class='label pubaward'>{{ pub.award }}</span></div>
				{% endif %}

			</div>

		</div>
	{% endfor %}

	</div>

</div>
